.navbar {
    background: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin: 0 10px;
    position: relative;
}

.navbar-menu li a, .navbar-menu li span {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #f9f9f9;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: none;
}

.dropdown-menu li {
    padding: 5px 20px;
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background: #eaeaea;
}

.dropdown-menu.show {
    display: block;
}
